<section class="container-fluid">
  <ngb-carousel activeId [showNavigationIndicators]="true" [showNavigationArrows]="false" [interval]="10000">
    <ng-template ngbSlide>
      <img src="assets/features/Analytics.jpg" alt="random images of graphs">
      <div class="carousel-caption">
        <h3>369</h3>
        <p>Crunching the numbers and figures</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/features/Radar.jpg" alt="someone searching">
      <div class="carousel-caption">
        <h3>RAD/AR™</h3>
        <p>Search for the next Taylor Swift</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/features/SingingGirl.jpg" alt="a girl singing with black background">
      <div class="carousel-caption">
        <h3>Artists</h3>
        <p>Manage your own artist profile</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/features/Search.jpg" alt="a girl singing with black background">
      <div class="carousel-caption">
        <h3>Hunters</h3>
        <p>Human and Artificial Intelligence</p>
      </div>
    </ng-template>
  </ngb-carousel>
</section>
