<section class="container-fluid">
  <ngb-carousel activeId [showNavigationIndicators]="true" [showNavigationArrows]="false" [interval]="5000">
    <ng-template ngbSlide>
      <img src="assets/features/SearchImage.jpg" alt="">
      <div class="carousel-caption">
        <h3>Emerging Artists</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/features/Analytics.jpg" alt="">
      <div class="carousel-caption">
        <h3>Kwler 360</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/features/SingingGirl.jpg" alt="">
      <div class="carousel-caption">
        <h3>Kwler D.N.A.</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</section>
