<section>
  <div class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item" [ngClass]="{active:activeSlide==0}"></div>
      <div class="carousel-item" [ngClass]="{active:activeSlide==1}"></div>
      <div class="carousel-item" [ngClass]="{active:activeSlide==2}"></div>
    </div>
    <a class="carousel-control-prev" (click)="previous()" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous Feature</span>
    </a>
    <a class="carousel-control-next" (click)="next()" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next Feature</span>
    </a>
  </div>
</section>
