/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

img {
  height: 100%;
  width: 100%;
}

h3 {
  color: red;
  font-size: 300%;
  font-weight: bolder;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h3, .carousel-caption p {
  text-shadow: 1px 1px 15px #000;
}

