<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">
    <img src="/assets/icons/icon-72x72.png" width="36" height="36" alt="Kwler.NET Logo">
    <span>Kwler.NET</span>
  </a>
  <button (click)="collapseNav = !collapseNav"
          class="navbar-toggler"
          type="button"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="collapseNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item dropdown" (click)="collapseFeatures = !collapseFeatures">
        <a class="nav-link dropdown-toggle"
           role="button"
           aria-haspopup="true"
           aria-expanded="false">
          Features
        </a>
        <div class="dropdown-menu" [ngbCollapse]="collapseFeatures">
          <a class="dropdown-item">Kwler RAD/AR™</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://369.kwler.net">Kwler 369</a>
          <a class="dropdown-item" href="https://dna.kwler.net">Kwler DNA</a>
          <a class="dropdown-item" href="https://remix.kwler.net">Kwler ReMIX</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Blog</a>
      </li>
    </ul>
  </div>
</nav>
