<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/icons/icon-128x128.png" width="30" height="30" alt="">
    <span>Kwler.NET</span>
  </a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item dropdown" (click)="toggleShow()" [ngClass]="{show: showNav}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Features
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" [ngClass]="{show: showNav}">
          <a class="dropdown-item" href="#">Emerging Artists</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Kwler 360</a>
          <a class="dropdown-item" href="#">Kwler DNA</a>
          <a class="dropdown-item" href="#">Kwler ReMIX</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Pricing</a>
      </li>
    </ul>
  </div>
</nav>
