<section class="container-fluid row">
<div class="card col-md-4">
  <img src="/assets/tech-icons/AWS.png" alt="AWS" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">AWS</h5>
    <p class="card-text">Our cloud infra</p>
  </div>
</div>
  <div class="card col-md-4">
    <img src="/assets/tech-icons/AWS.png" alt="AWS" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">AWS</h5>
      <p class="card-text">Our cloud infra</p>
    </div>
  </div>
</section>
